@import "../../../styles/root";

.aboutMe {
    z-index: 1;
    width: 100%;
    min-height: 62rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .info {
        width: 114rem;
        height: 90%;
        display: flex;
        /* background-color: rgb(163, 163, 163); */
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin: 1rem 0 3rem;

        .content {
            width: 54rem;
            height: 100%;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .name {
                font-size: 2.4rem;
                // color: #111111;
            }

            .task {
                font-size: 1.6rem;
            }

            .description {
                font-size: 1.5rem;
                line-height: 2.25rem;
            }
        }

        .image {
            // background-color: rgba(230, 230, 230, 0.1);
            background-color: rgba(75, 186, 194, 0.1);
            width: 45rem;
            height: 45rem;
            padding: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
// Thiết bị màn hình nhỏ hơn 1200px
    @media only screen and (max-width: 1199px) {
        .aboutMe{
            
            .info{
                .content{
                    align-items: center;
                    .description{
                        margin: 5rem 5rem;
                    }
                }
            }
        }
    }

    // // Thiết bị màn hình nhỏ hơn 1024px
    @media only screen and (max-width: 1023px) {
        .aboutMe{
            
            .info{
                .content{
                    align-items: center;
                    .description{
                        margin: 5rem 5rem;
                    }
                }
            }
        }
    }