@import "../../../styles/root";

.educations {
    width: 100%;
    background-color: $background-color;
    padding-bottom: 10rem;

    .title {
        text-align: center;
        font-size: 3.9rem;
        font-weight: 700;
        line-height: 5rem;
        @include linerText(45deg, rgb(255, 1, 1), rgb(0, 44, 238));
    }

    .schools {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .school {
            background-color: white;
            width: 50rem;
            margin: 1.5rem;
            border-radius: 20px;
            box-shadow: 0px 1px 27px -3px rgb(0 0 0 / 20%);

            .name {
                padding: 0px 40px;
                font-size: 1.9rem;
                font-weight: 700;
            }

            .specialized {
                padding: 0px 40px 10px;
                font-size: 1.5rem;
                font-weight: 600;
            }

            .course {
                padding: 0px 40px;
                font-size: 1.5rem;
                font-weight: 400;
            }
            span {
                color: rgb(146, 53, 53);
            }
        }
    }
}

