$red-dark-color: rgb(107, 36, 36);
$red-light-color: rgb(221, 25, 25);
$blue-dark-color: rgb(30, 53, 66);
$blue-light-color: rgb(35, 102, 141);
$yellow-dark-color: rgb(199, 157, 43);
$yellow-light-color: rgb(215, 235, 34);
$green-dark-color: rgb(18, 58, 24);
$green-light-color: rgb(39, 218, 65);
$black-color: rgb(0, 0, 0);
$text-color: #55595c;
$text-blue-color: #06619c;
$white-color: #ffffff;
$transparent-color: transparent;
$background-color: #f7f7f7;
$success: #17a71e;
$warning: #c5d309;

$height-header: 70px;

