@import "../../../styles/root";

.skills {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        text-align: center;
        font-size: 3.9rem;
        font-weight: 700;
        line-height: 50px;
        @include linerText(45deg, rgb(40, 83, 104), rgb(224, 18, 46));
    }

    .categories {
        padding: 0;
        font-size: 1.7rem;
        list-style: none;
        display: flex;
        justify-content: center;

        .item {
            box-shadow: 0px 1px 15px -3px rgb(112, 145, 161);
            padding: 10px;
            margin: 10px;
            border-radius: 20px;
            cursor: pointer;
            text-transform: uppercase;

            &:hover,
            .active {
                background: rgb(119, 210, 226);
                color: $white-color;
            }
            
        }
    }

    .technologies {
        padding: 0;
        width: 80%;
        font-size: 1.5rem;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: 3;

        .item {
            width: 350px;
            height: 359px;
            background-color: $blue-light-color;
            margin: 20px;
            color: $white-color;
        }
    }
}
