@import "../../../styles/root";

// PC
.header {
    width: 100%;
    height: $height-header;
    display: flex;
    justify-content: center;
    background-color: rgba(141, 137, 137, 0.1);

    // // Thiết bị màn hình nhỏ hơn 1200px
    // @media only screen and (max-width: 1199px) {
    // }

    // // Thiết bị màn hình nhỏ hơn 1024px
    // @media only screen and (max-width: 1023px) {
    // }

    // // Thiết bị màn hình nhỏ hơn 900px
    // @media only screen and (max-width: 899px) {
    // }

    // // Thiết bị màn hình nhỏ hơn 768px
    // @media only screen and (max-width: 767px) {
    // }

    // // Thiết bị màn hình nhỏ hơn 600px
    // @media only screen and (max-width: 599px) {
    //     height: 50px;
    // }

    //  // Thiết bị màn hình nhỏ hơn 480px
    //  @media only screen and (max-width: 479px) {
    // }

    //  // Thiết bị màn hình nhỏ hơn 320px
    //  @media only screen and (max-width: 319px) {
    // }

    .nav {
        width: 90%;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            min-width: 20%;
            text-align: center;
            color: var(--text-color);
            font-size: 2.4rem;
            font-weight: 500;
            user-select: none;
            border-radius: 90px;

            .link {
                text-decoration: none;
                @include linerText(45deg, #06619c, #02da97);
            }
        }
    }
}

// Thiết bị màn hình nhỏ hơn 1200px
@media only screen and (max-width: 1199px) {
    .header {
        height: 80px;
        .nav {
            width: 100%;
            .title {
                .link {
                    font-size: 30px;
                    padding-left: 30px;
                }
            }
        }
    }
}

// Thiết bị màn hình nhỏ hơn 1024px
@media only screen and (max-width: 1023px) {
}

// Thiết bị màn hình nhỏ hơn 900px
@media only screen and (max-width: 899px) {
}

// Thiết bị màn hình nhỏ hơn 768px
@media only screen and (max-width: 767px) {
}

// Thiết bị màn hình nhỏ hơn 600px
@media only screen and (max-width: 599px) {
    .header {
        height: 50px;
        .nav {
            width: 100%;
            .link {
                font-size: 25px;
            }
        }
    }
}

// Thiết bị màn hình nhỏ hơn 480px
@media only screen and (max-width: 479px) {
    .header {
        // height: 70px;
        .nav {
            width: 100%;
            .title {
                .link {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
// Thiết bị màn hình nhỏ hơn 320px
@media only screen and (max-width: 319px) {
    .header {
        .nav {
            width: 300px;
        }
    }
}
